.big-heading {
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
  font-size: 400%;
  color: #850856;
}

.title-image {
  height: 500px;
  width: 600px;
  border-style: none;
}

.title-heading {
  padding: 50px 0 0 180px;
}

.navbar-brand, .nav-link {
  color: #850856;
}

.navbar{
  margin: 0;
}

p {
  font-family: 'Nunito', sans-serif;
  color: #850856;
}

.small-heading {
  line-height: 0.1;
  font-size: 1.5rem;
}

.btn {
  border-style: solid;
  border-color: #850856;
  border-width: 2px;
  border-radius: 50px;
  margin: 10px 0 10px 200px;
}

#footer{
  text-align: center;
}
#packages {
  padding-top: 50px;
}

/* FAQ's */
#faq {
  height: 100%;
  padding: 50px 0;
}

#faq h1 {
  font-family: 'Roboto', sans-serif;
  color: #850856;
  font-weight: 900;
  font-size: 34px;
  text-align: center;
  padding: 20px 0 50px 0;
}

.accordion-button {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  color: #850856;
}

.accordion-body {
  font-size: 1rem;
  font-family: 'nunito', sans-serif;
  color: #850856;
}
