body {
  box-sizing: border-box;
}

.big-heading {
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
  font-size: 4rem;
  color: #850856;
}

.title-image {
  height: 500px;
  width: 600px;
  border-style: none;
}

.title-heading {
  padding: 50px 0 0 200px;
}

.navbar-brand, .nav-link {
  color: #850856;
}

.navbar {
  margin: 0;
}

p {
  font-family: 'Nunito', sans-serif;
  color: #850856;
}

.small-heading {
  line-height: 0.1;
  font-size: 1.5rem;
  padding-top: 10px;
}

#footer {
  text-align: center;
}

#packages {
  padding-top: 50px;
}

/* FAQ's */
#faq {
  height: 100%;
  padding: 50px 0;
}

#faq h1 {
  font-family: 'Roboto', sans-serif;
  color: #850856;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  padding: 20px 0 50px 0;
}

.accordion-button {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  color: #850856;
}

.accordion-body {
  font-size: 1rem;
  font-family: 'nunito', sans-serif;
  color: #850856;
}

.footer-top {
  padding: 60px 0 40px 0;
  text-align: center;
}

.footer-top h3 {
  padding-bottom: 10px;
}

.footer-links a {
  font-family: 'Roboto'sans-serif;
  color: #888;
  font-size: 15px;
  font-weight: 400;
  margin-left: 10rem;
  text-decoration: none;
  transition: font-size 1s;
}

.footer-links a:hover {
  font-size: 20px;
}

.footer-top p {
  font-family: 'Roboto'sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  line-height: 30px;
}

.footer-contact i {
  padding-right: 10px;
  font-size: 18px;
  color: #ddd;
}

h3 {
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
  font-style: italic;
}

@media (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }

  .title-image {
    height: auto;
    width: 100%;
  }

  .small-heading {
    /* display: none; */
    font-size: 0.8rem;
    text-align: left;
  }

  .big-heading {
    font-size: 2.3rem;
  }

  .title-heading {
    padding: inherit;
  }

  #Packages {
    padding-top: 0;
  }

  .package-image {
    padding-left: 40px;
  }

  .footer-links a {
    text-align: center;
  }
}
